body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    font-weight: 700;
    margin: 15px;
}
.oranged{
    color: orangered;
}
.flexible-container{
    display: flex;
    padding: 5%;
}
.heading{
    border-left: 3px solid salmon;
    border-radius: 10px;
}

.half-width{
    width: 80%;
    padding-left: 5%;
}
.half-width img{
    width: 60%;
    position: relative;
    
}
.link-button{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(orangered,tomato);
    padding: 10px 40px;
    border-radius: 5px;
}
.blue{
    color: rgb(2, 2, 39);
}
.orange{
    color: orangered;
}
#head2{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
.mission-item{
    width: 30%;
    margin-left: 2.5%;
    padding-left: 20px;
    box-shadow: 5px 5px 40px gray;
    border-radius: 20px;
    background-color: rgba(135, 207, 235, 0.548);
}
.pic{
    background-color: rgba(250, 128, 114, 0.5);
}
.pic2{
    background-color: rgba(112, 128, 144, 0.397);
}
h2{
    font-size: 50px;
    font-weight: 900;
}
h3{
    font-size: 50;
    font-weight: 700;
}
.white{
    color: #fff;
}
.foot{
    text-align: center;
}
footer{
    background-color: black;
}
footer p{
    color:white;
}